#!/usr/bin/env bash
export TALOSCONFIG=$(pwd)/talos/talosconfig
export KUBECONFIG=$(pwd)/talos/kubeconfig
export PRIMARY=10.0.96.41
export CP_NODES=(10.0.96.42 10.0.96.43)
export WK_NODES=(10.0.96.44 10.0.96.45 10.0.96.46)
layout python3

